@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Open+Sans:wght@500&display=swap%27');

/* https://cleitonleonel.github.io/portfolio/quemsou.html */

body {
    font-family: "Open Sans", "Courier New";
    background-color: #f0e2bb;
}

/* header  */
header {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 255, 0.7), rgba(0, 0, 0, 0.7));
    background-repeat: repeat-x;
    background-size: 100%;
}

table {
    width: 80%;
    margin: 0 auto;
    border-color: black;
    border-spacing: 20px;
}

.m-0 {
    margin: 0px;
}
.ptb-3 {
    padding: 30px 0;
}

.foto {
    width: 10%;
}

header img {
    height: 100px;
    border-radius: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/* nav  */
ul {
    text-align: center;
    padding-inline-start: 0;
}

li {
    display: inline-block;
    font-size: 20px;
    line-height: 35px;
    border: 1px;
}

.navbar a {
    padding: 5px 25px;
    border-radius: 8px;
}

.navbar a:link {
    color: black;
}

.navbar a:hover { /* passando o mouse em cima */
    color: white;
    background-color: #303c81;
}

.active { /* sendo clicado */
    color: white;
    background-color: #2e2e2e;
}

.font-caveat{
    font-family: "Caveat", cursive;
}

h3 {
    font-family: "Open Sans", "Courier New";
    color: #d19a2a;
}

.tb-td-banner {
    border-radius: 10px;
    width: 50%;
    height: 50%;
    background-color: #2b2a2a;
    padding: 10px;
}

.tb-td-banner p {
    font-size: 25px;
    color: white;
}

.btn-contato {
    padding: 5px 10px;
    border-radius: 8px;
    line-height: 35px;
    border: 1px;
    background-color: #303c81;
    color: white; 
}

 /* imagem code #todo */
.tb-td-banner img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

progress {
    height: 20px;
}





footer {
    /* width: 100%; */
    text-align: center;
    background-color: white;
}