* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #fff7d8;
    margin: 10px;
}

header, nav, article, footer {
    color: #fff7d8;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}

main {
    height: calc(100vh - 20px);
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 100px;
}

header {
    background-color: #949ce0;
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */ /*3 se refere as linhas de espaçamentos*/
    grid-column: 1 / -1;
}
nav {
    background-color:#a7a7a7;
    grid-column: 1 / 4;
}
article {
    background-color:#e7e7e7;
    color: #373a58;
    grid-column: 4 / -1;
}
footer {
    background-color:#373a58;
    grid-column: 1 / -1;  /* equivalente à grid-column: 1 / 3;*/
}
