* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #fff7d8;
    margin: 10px;
}

main > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #aaa;
}

main > div:nth-child(1n) {
    background-color: #358d61;
}
main > div:nth-child(3n) {
    background-color: #5c76ca;
}
main > div:nth-child(2n) {
    background-color: #ffcc5c;
}
main > div:nth-child(4n) {
    background-color: #eee;
}

main {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: 100px 100px;
}