body {
    font-family: 'Lucida Sans', sans-serif;
    text-align: center;
}

h1 {
    position: relative;
    text-align: center;
}
h1::after{
    content: "";
    background-image: linear-gradient(120deg, #e5ea15, #15bfea);
    width: 90%;
    height: 5px;
    position: absolute; 
    /* quando uma posição e absoluta, o pai tem que ser relative*/
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) skew(-50deg);
}

form {
    text-align: left;
    display: inline-block;
}

form > div {
    margin: 1em 0;
}

form label {
    display:block;
    margin-bottom: 5px;
}

/* todo label que fica depois do input */
input + label {
    display: inline;
    margin: 0px;
}
/*                           :not = não quer que formata o primeiro desse tipo */
fieldset > input[type=radio]:not(:first-of-type){
    margin-left: 20px;
}

fieldset {
    display: inline-block;
    border-radius: 2px;
    border: solid 1px gray;
}

input {
    border-radius: 5px;
    border: solid 1px gray;
}

/* para quando o foco de digitaçã oestiver nele */
input:focus {
    outline: solid 1px rgb(255, 2, 158);
}

input:required {
    background-color: rgb(159, 215, 247);
}


/* para colocar imagen no input item  */
input[type=text]:valid, 
input[type=url]:valid,
input[type=email]:valid 
input[type=password]:valid  {
    background: url('check.png') no-repeat 95% 50% rgb(174, 255, 174);
    background-size: 12px;
} 
input[type=text]:invalid , 
input[type=url]:invalid,
input[type=email]:invalid 
input[type=password]:invalid  {
    background: url('alert.png') no-repeat 95% 50% rgb(254, 255, 175);
    background-size: 12px;
} 

input[type=number]:in-range{
    background-color: blue;
}
input[type=number]:out-of-range{
    background-color: rgb(250, 196, 196);
}

input[type=text]:disabled {
    border: dotted 2px gray;
}

input[type=checkbox]:checked + label {
    font-weight: bold;
}
input[type=radio]:checked + label {
    font-weight: bold;
}

input[type=submit] {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%,  #314755 100%);
    margin: 10px 0;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px #aaa;
    background-size: 200% auto;
    transition: 0.5s;
}

input[type=submit]:hover{
    cursor: pointer;
    background-position: right center;
    transition: 0.5s;

}
