* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #fff7d8;
    margin: 10px;
}

header, nav, article, footer {
    color: #fff7d8;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}

main {
    height: calc(100vh - 20px);
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m m c c c c c c c c c"
        "f f f f f f f f f f f f";
}

header {
    background-color: #949ce0;
    grid-area: h;
}
nav {
    background-color:#a7a7a7;
    grid-area: m;
}
article {
    background-color:#e7e7e7;
    color: #373a58;
    grid-area: c;
}
footer {
    background-color:#373a58;
    grid-area: f;
}

