img{
    height: 120px;
}

p {
    background-color: bisque;
    text-align: justify;
    background-image: url(bg.jpg);
    /* background-size: 300px; */
    overflow: hidden;
}

#img1 {
    float: left;
    margin-right: 10px;
}
#img2 {
    float: right;
    margin-left: 10px;
}
